CAMERA_URLS=rtsp://username:password@192.168.x.x:554/stream2,rtsp://username:password@192.168.x.x:554/stream2
CAMERA_NAMES=camera1,camera2
CONFIDENCE_THRESHOLD=0.7
LAT=35.6
LON=139.7
SEGMENT_SECONDS=30
